/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.trysqlcode {
    color: darkblue;
    font-family: Consolas;
    font-size:x-large;
}

.code {
    border: 1px solid lightgray;
    padding:20px;
    font-family: Consolas;
}
/*
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/
.devtoolheader{
    min-width:135px;
    max-width:135px;
    font-family:Consolas;
}
.sql {
    color: blue;
}

.sql-constraint {
    color: red;
}

.sqlgrey {
    color: grey;
}

.sqlred {
    color: red;
}

.sqlpink {
    color: hotpink;
}

.sqlgreen {
    color: green;
}